
        <h1> This is the index </h1>
        <ul>
            <%for book in @books%>
                <li>
                        <b>Book Title:</b> <%= link_to book.title, book_path(book.id) %>   
                            <b>Genres:</b> <% @genres = Genre.find(book.genres.ids)%>
                                                <%@genres.each do |genre|%>
                                                    <%=  genre.name%>
                                                <%end%>
                        
                        <b>Book Author:</b> <%= book.author.name%> 
                        <b>Author Biography:</b> <%= book.author.biography%>

                        <div>
                            <%if current_user.id == book.user.id%>

                                <form>
                            <%= link_to 'edit this book', edit_book_path(book.id) %>
                            <%= link_to 'delete this book', delete_path(book.id), method:"delete" %>
                            </form>
                            <%end%>
                        </div>
                        <br>

                </li>
            <%end%>
        </ul>
        <div class ="button">
            <%= link_to "Create a book", create_book_path%>
        </div>



