<h1> This is the index </h1>
<ul>
<%for book in @books%>
<li>
   <%=link_to book.title, view_path(book.id) %>- <%= book.author.name%> <br>
    <%= book.author.biography%>
    <%= link_to 'edit this book', edit_path(book.id) %>
</li>
<%end%>
</ul>

<%= link_to "Create a book", create_book_path%>