<h1> This is the index </h1>
<ul>
<%for book in @books%>
<li>
   <b>Book Title:</b> <%= link_to book.title, view_path(book.id) %>   

   <b>Book Author:</b> <%= book.author.name%> 
   <b>Author Biography:</b> <%= book.author.biography%>

   <div>
    
   <%= link_to 'edit this book', edit_path(book.id) %>
   <%= link_to 'delete this book', delete_path(book.id), method:"delete" %>
   </div>
    <br>
    <br>
    <br>
    <br>
</li>
<%end%>
</ul>

<%= link_to "Create a book", create_book_path%>