

<section class="hero is-info is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-black">Login</h3>
                    <hr class="login-hr">
                    
                    <div class="box">
                        <figure class="image">
                            <img class="is-rounded" src="https://placehold.it/128x128">
                        </figure>
                        
                            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                              <div class="field">
                                <%= f.label :email %><br />
                                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                              </div>

                              <div class="field">
                                <%= f.label :password %><br />
                                <%= f.password_field :password, autocomplete: "current-password" %>
                              </div>

                              <% if devise_mapping.rememberable? %>
                                <div class="field">
                                  <%= f.check_box :remember_me %>
                                  <%= f.label :remember_me %>
                                </div>
                              <% end %>

                              <div class="actions">
                                <%= f.submit "Log in" %>
                              </div>
                            <% end %>
                            <p class="has-text-grey">
                             <%= render "devise/shared/links" %>
                             </p>
                        
                    </div>
                    
                </div>
            </div>
        </div>
      </p>

    </div>
  </div>

  <div class="hero-foot">
    
  </div>
</section>


  
    


