 
    
<nav class="navbar ">
  <div class="navbar-brand">
        <div class="navbar-burger burger" data-target="navMenuExample">
                  <span></span>
                  <span></span>
                  <span></span>
        </div>
  </div>

  <div id="navMenuExample" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <% if user_signed_in?%>
                    <%= link_to "Home", root_path, class: "navbar-item" %>
                    <%= link_to "All Books", intro_path, class: "navbar-item" %>
                    <%= link_to "My Books", my_books_path, class: "navbar-item"%>
                    <div class="navbar-item"><%= link_to "logout", destroy_user_session_path, method: :delete%></div>
                <%else%>
                    <div class ="navbar-item"><%= link_to "Sign up", new_user_registration_path%> </div>
                    <div class ="navbar-item"><%= link_to "Login", new_user_session_path  %></div>
                <%end%>
            </div>
        </div>
  </div>
</nav>



  <script>
      document.addEventListener('DOMContentLoaded', () => {
      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {
        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {
            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    });
  </script>