<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
          <% if user_signed_in?%>
        
            <div class ="button is-primary is-small"><%= link_to "logout", destroy_user_session_path, method: :delete%></div>
            
          <%else%>
            
            <div class ="button is-primary is-small"><%= link_to "Sign up", new_user_registration_path%> </div>
            <div class ="button is-primary is-small"><%= link_to "Login", new_user_session_path  %></div>
          
          <%end%>
      
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

      <%= yield %>
    
  </body>
  
</html>
